// Bootstrap
// bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
$font-size-base: 15px;
$icon-font-path: "fonts/";

// Font-Awesome:
// bower_components/font-awesome/scss/_variables.scss
$fa-font-path: "fonts/";
