//
// Global Variables
// --------------------------------------------------

// Bootstrap
// bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
$font-size-base: 15px;
$icon-font-path: 'fonts/';

// Font-Awesome:
// bower_components/font-awesome/scss/_variables.scss
$fa-font-path: 'fonts/';

// Colors
$ci-color: #0078C6;
$ci-light: #1985CB;
$ci-success: #00c6b1;
