//
// Section: Bubble
// --------------------------------------------------

.section-bubble {
  h1 {
    text-align: center;
    padding: 40px 0 20px;
  }

  a {
    text-decoration: none;
  }

  a:hover .bubble {
    border-color: $ci-success;
  }

  .grid {
    & > .grid-item > a {
      display: inline-block;
      width: 100%;
    }

    a:focus {
      outline-style: dotted;
      outline-color: #000;
      outline-width: 2px;
      outline-offset: -2px;
    }

    .grid-item {
      margin-bottom: 30px;
    }

  }

  .bubble {
    color: black;

    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 22%, #f8f8f8 100%);
    background: -webkit-linear-gradient(top, #ffffff 22%,#f8f8f8 100%);
    background: linear-gradient(to bottom, #ffffff 22%,#f8f8f8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#ffffff', endColorstr='#f8f8f8',GradientType=0 );

    border: 2px solid #ddd;
    // margin-bottom: 30px;
    padding: 20px;
    border-radius: 15px;
    text-decoration: none;

    &:focus {
      outline-style: dotted;
      outline-color: #000;
      outline-width: 2px;
      outline-offset: -2px;
    }

    &.fix {
      border-style: dotted;
    }

    &:hover {
      // background-color: #f8f8f8;
      text-decoration: none;
      // border: 1px dashed #e7e7e7;
    }

    header {
      text-align: center;
      padding: 10px 0 0;
    }

    // &.project,
    // &.quest {
    //   a {
    //     color: #000;
    //   }
    // }

    .info {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .subline {
      font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;
      margin-top: 11px;
    }

    h2 {
      font-size: 28px;
      margin-top: 0;
      margin-bottom: 0;
    }

    .user-avatar {
      width: 150px;
      height: 150px;
      line-height: 150px;
      border-radius: 75px;
      margin: 0 auto;
      background: #ddd;
      margin-bottom: 10px;

      img {
        width: 150px;
        height: 150px;
      }

      .fa-user {
        font-size: 70px;
        line-height: 145px;
      }

    }

    .user-level {
      width: 50px;
      height: 50px;
      line-height: 50px;
      border-radius: 25px;
      text-align: center;
      margin: 0 auto;
      background: #ddd;
      font-weight: bold;
    }

    .user-bar {
      position: relative;
      overflow: hidden;
      border-radius: 5px;
      width: 100%;
      background: #ddd;
      height: 25px;
    }

    .user-bar-text {
      position: relative;
      font-weight: bold;
      z-index: 30;
      height: 25px;
      line-height: 25px;
    }

    .user-bar-bg {
      position: absolute;
      left: 0;
      top: 0;
      width: 50%;
      height: 100%;
      background: $ci-success;
      z-index: 20;
      height: 25px;
    }

    .type-icon {
      width: 70px;
      height: 70px;
      line-height: 70px;
      border-radius: 35px;
      text-align: center;
      margin: 0 auto;
      background: #ddd;
      font-weight: bold;
      margin-bottom: 10px;
      font-size: 30px;
    }

    .type-subline {
      margin-top: 5px;
      margin-bottom: 3px;
      text-transform: uppercase;
      font-weight: bold;
    }

    .type-description {
      text-align: center;
    }

    .type-points {
      text-align: center;
      font-size: 15px;
      font-weight: bold;
    }

    .quest-state,
    .quest-state--active {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      border-style: solid;
      border-radius: 3px;
      border-width: 1px;
      width: 70px;
      height: 35px;
      line-height: 35px;
      text-align: center;
      display: block;
      border-radius: 35px;
      margin: 0 auto;
      padding: 0;
    }

    .quest-state {
      color: darken(#e7e7e7, 30%);
      border-color: darken(#e7e7e7, 30%);
    }

    .quest-state--active {
      color: $ci-success;
      border-color: $ci-success;
    }

    .footer {
      text-align: left;
      font-size: 14px;

      time {
        float: right;
      }
    }

  }

  .stage {
    margin-bottom: 20px;
  }

  .tagcloud {
    text-align: center;
  }

  .projects h4,
  .quests h4 {
    text-align: center;
  }

  .single {
    .sharing {
      margin-bottom: 0;
    }

    iframe {
      margin-bottom: 21px;
    }

  }

}
