//
// Section: Project
// --------------------------------------------------

.section-project {
  h1 {
    text-align: center;
    padding: 40px 0 20px;
  }

  .section {
    border: 2px solid #ddd;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 15px;
  }
}
