//
// Section: Search
// --------------------------------------------------

.section-search {
  .section {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;

      table {
        margin-bottom: 0;
      }
    }
  }

}
