//
// Section: User
// --------------------------------------------------

.section-user {
  .profile,
  .profile_sharing,
  .quests {
    padding-bottom: 30px;
    border: 2px solid #ddd;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 15px;
  }

  .profile {
    padding-top: 60px;
    padding-bottom: 50px;
    text-align: center;
  }

  .profile_sharing {
    iframe {
      margin-bottom: 21px;
    }
  }

  h1 {
    text-align: center;
  }
}
