//
// Section: User
// --------------------------------------------------

.section-user {
  .profile {
    padding-top: 60px;
    padding-bottom: 50px;
    text-align: center;
  }

  .quests {
    h3 {
      margin-bottom: 15px;
    }
  }

  .tags {
    margin-bottom: 0;
  }

  iframe {
    margin-bottom: 21px;
  }

}
