//
// Elements
// --------------------------------------------------

// 1. Time Element
// 2. Horizontal Headline
// 3. Login / Registration
// 4. Programming-Language
// 5. Quest-Status
// 6. Search-Form

// 1. Time Element
// -------------------------
time {
  color: darken(#e7e7e7, 30%);
}

// 2. Horizontal Headline
// -------------------------
.section-bubble .stage,
.section-project .stage,
.section-quest .stage,
.section-user .stage {
  position: relative;
  overflow: hidden;
  display: block;
  padding-bottom: 10px;

  h3 {
    position: relative;
    float: none;
    display: table;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 3;
  }

  hr {
    margin: 0;
    position: absolute;
    bottom: 30px;
    width: 100%;
    border: solid #ddd 2px;
    z-index: 2;
  }
}

// 3. Login / Registration
// -------------------------
.login,
.registration {
  padding-top: 20px;
  padding-bottom: 20px;
}

.login form,
.regular-registration form {
  padding-top: 10px;
}

// 4. Programming-Language
// -------------------------
.language {
  text-align: left;

  &::before {
    content: '•';
  }

  &.javascript {
    color: #f1e05a;
  }

  &.java {
    color: #b07219;
  }

  &.ruby {
    color: #701516;
  }

  &.php {
    color: #4F5D95;
  }

  &.python {
    color: #3572A5;
  }

  &.css {
    color: #563d7c;
  }

  &.c {
    color: #555555;
  }

  &.cpp {
    color: #f34b7d;
  }

  &.csharp {
    color: #178600;
  }

  &.html {
    color: #e44b23;
  }

  &.d {
    color: #ba595e;
  }

  &.swift {
    color: #ffac45;
  }

  &.sql {
    color: #ccc;
  }

  &.r {
    color: #198CE7;
  }

  &.matlab {
    color: #bb92ac;
  }
}

// 5. Quest-Status
// -------------------------
.quest-state,
.quest-state--active {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  padding: 2px 5px;
}

.quest-state {
  color: darken(#e7e7e7, 30%);
  border-color: rgba(darken(#e7e7e7, 30%), 0.7);
}

.quest-state--active {
  color: $ci-success;
  border-color: rgba($ci-success, 0.7);
}

// 6. Search-Form
// -------------------------
.search_form {
  display: inline-block;
  height: 70px;
  margin: 10px 0 0;
  padding: 0;
  float: left;
  overflow: hidden;
  width: 100%;
  border: 0;
  @media (min-width: $screen-sm) {
    margin-top: 0;
    width: auto;
    height: 70px;
    padding: 17px 0 0 20px;
  }
  @media (min-width: $screen-md) {
    padding: 17px 0 0 44px;
  }

  .form-group {
    margin: 0;
  }

  .form-control {
    height: 35px;
    float: left;
    border-color: #fff;
    border-radius: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: none;
    font-size: 14px;

    width: 70%;
    @media (min-width: $screen-sm) {
      width: 120px;
    }
    @media (min-width: $screen-md) {
      width: auto;
    }
  }

  .btn {
    height: 35px;
    border: 1px solid #ddd;
    border-radius: 0;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-left-width: 0;
    box-shadow: none;
    font-size: 13px;
    margin: 0;
    float: right;
    background: #ddd;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;

    width: 30%;
    @media (min-width: $screen-sm) {
      width: auto;
    }
  }
}
